body,
html {
  height: 100%;
  margin: 0;
  font-family: "street", sans-serif;
}

#navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #ffd700;
  top: 0;
  z-index: 2;
  block-size: 48px;
}
#navbar a:hover {
  background: #ddd;
  background-color: black;
  color: #ffd700;
}

/* Font */
@font-face {
  font-family: "street";
  src: url(/blacklivesmatter/fonts/street.otf);
}

/* Navbar Linking */
#navbar a {
  font-family: "street", sans-serif;
  float: right;
  display: block;
  color: #1a1a00;
  text-align: center;
  padding: 14px;
  padding-top: 16px;
  text-decoration: none;
}
/*NavBar Text */
/* Black Lives Matter Text */
#navbar text {
  font-family: "street", sans-serif;
  text-align: center;
  padding: 6px;
  padding-top: 7px;
  float: left;
  font-size: 30px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.blm-photo1,
.blm-photo2,
.blm-photo3,
.blm-photo4,
.coding {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blm-photo1 {
  background-image: url("photos/actual_blm_photo.jpg");
  min-height: 30%;
}

.blm-photo2 {
  background-image: url("photos/chadwick.jpg");
  min-height: 400px;
}

.blm-photo3 {
  background-image: url("photos/george.jpg");
  min-height: 400px;
}

.blm-photo4 {
  background-image: url("photos/black_lives.jpg");
  min-height: 400px;
}
.coding {
  background-image: url("photos/coding.jpg");
  min-height: 350px;
}
#box1 {
  padding: 10px;
  background-color: #ffd700;
}
#box2 {
  padding: 10px;
  background-color: #ffd700;
}

#me {
  width: 75px;
  height: 75px;
}

section #services li {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 40px;
  height: 40px;
  color: #74d4b3;
  font-size: 2em;
  text-align: center;
  line-height: 45px;
  background-color: #1a1a00;
  transition: all 0.5s ease;
}
section #services li a {
  color: #ffd700;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #1a1a00;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
