body {
  background: url("/blacklivesmatter/blmbackground.jpg") no-repeat;
  background-attachment: scroll;
}
#navbar {
  overflow: hidden;
  background-color: #ffd700;
  border: 0px;
  margin: -8px !important;
}

/* Font */
@font-face {
  font-family: "street";
  src: url(/blacklivesmatter/fonts/street.otf);
}

/* Navbar Linking */
#navbar a {
  font-family: "street", sans-serif;
  float: right;
  display: block;
  color: #1a1a00;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/*NavBar Text */
#navbar text {
  font-family: "street", sans-serif;
  text-align: center;
  padding: 6px;
  float: left;
  font-size: 30px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.slides {
  display: none;
}
