body,
html {
  height: 100%;
  margin: 0;
}

#navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #ffd700;
  top: 0;
  z-index: 2;
  block-size: 48px;
}
#navbar a:hover {
  background: #ddd;
  background-color: black;
  color: yellow;
}

/* Font */
@font-face {
  font-family: "street";
  src: url(/blacklivesmatter/fonts/street.otf);
}

/* Navbar Linking */
#navbar a {
  font-family: "street", sans-serif;
  float: right;
  display: block;
  color: #1a1a00;
  text-align: center;
  padding: 14px;
  padding-top: 16px;
  text-decoration: none;
}
/*NavBar Text */
/* Black Lives Matter Text */
#navbar text {
  font-family: "street", sans-serif;
  text-align: center;
  padding: 6px;
  padding-top: 7px;
  float: left;
  font-size: 30px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.blm-photo1,
.blm-photo2,
.blm-photo3,
.blm-photo4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blm-photo1 {
  background-image: url("photos/actual_blm_photo.jpg");
  min-height: 30%;
}

.blm-photo2 {
  background-image: url("photos/chadwick.jpg");
  min-height: 400px;
}

.blm-photo3 {
  background-image: url("photos/george.jpg");
  min-height: 400px;
}

.blm-photo4 {
  background-image: url("photos/paris.jpg");
  min-height: 400px;
}
